
.estos_links_clase {
    margin-top:40px;
     padding:20px; 
     overflow:hidden; 
     height:70px; 
     align-items:center; 
     display:flex; 
     gap:20px; 
     justify-content:space-between; 
     /* width:;  */
     border-top:1px solid #DCDCDC; 
     border-bottom:1px solid #DCDCDC; 
     /* backgroundColor: */
}
.estos_links_clase h2 {
    font-family:resolve-sans-w05-thin-wd; 
    padding-left:40px;
    font-size: 2.5rem;
}

.animStyleCositas {
    /* display: flex; */
    
    padding-left:50px; 
    width:80%;
    font-family: resolve-sans-w05-thin-wd /* Montserrat-Thin */; 
    font-size: 4rem; 
    line-height: 95px; 
    text-transform: uppercase;
    
}


.svgLinkedin {
    transition: fill 0.3s ease;
}

.svgLinkedin:hover {
    fill: #75757561;
}
.pathSvg {
    fill: #DCDCDC;
}
/* .pathSvg:hover {
    fill: #2e2e2e;
} */

.animTextStyle {
    display: flex;
    flex-direction: column;
    position: relative;
    /* background-color: #212121; */
    width: 91.5vw;
    height: 900px;
    box-shadow: inset 0 0 0 2px #e7e7e7;
    
}
.textAnimClass {
    display: none;
    width: 10vw;
    
}

@media (max-width: 1473px) {
    .animTextStyle {
        
        height: 1000px;
    }
}

@media (max-width: 1400px) {
    .animTextStyle {
        width: 1220px;
        height: 1000px;
    }
    .estos_links_clase {
        /* margin-top: 320px; */
        margin-top: 40px;
        /* align-items: flex-start; */
        
    }
}
@media (max-width: 1220px) {
    .animTextStyle {
        
        width: 1000px;
        height: 1500px;
    }
    
    .estos_links_clase {
        margin-top: 50px;
        width: 955px;
    }
}

@media (max-width: 1000px) {
    .animTextStyle {
        
        width: 600px;
        height: 800px;
    }
    .animStyleCositas {
        font-size: 2.2rem;
        line-height: 60px; 
    }
    .estos_links_clase {
        margin-top: 50px;
        width: 558px;
        gap: 150px;
    }
    .estos_links_clase h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 620px) {
    .animTextStyle {
        width: 500px;
        height: 700px;
    }
    .animStyleCositas {
        font-size: 1.8rem;
        line-height: 48px; 
    }
    .estos_links_clase {
        margin-top: 50px;
        width: 458px;
        gap: 70px;
    }
    .estos_links_clase h2 {
        padding-left: 20px;
    }
}

@media (max-width: 520px) {
    .animTextStyle {
        width: 400px;
        height: 600px;
    }
    .animStyleCositas {
        font-size: 1.5rem;
        padding-left: 15px;
        line-height: 40px; 
    }
    .estos_links_clase {
        margin-top: 50px;
        width: 358px;
        gap: 50px;
    }
    .estos_links_clase h2 {
        font-size: 1.2rem;
        padding-left:0px;
    }
}
@media (max-width: 405px) {
    /* .animStyleCositas {
        font-size: 1.6rem;
        padding-left: 15px;
        line-height: 40px; 
    } */
    .animTextStyle {
        width: 95vw;
        height: 600px;
    }
    .animStyleCositas {
        font-size: 1.2em;
        padding-left: 15px;
        line-height: 40px; 
    }
    .estos_links_clase {
        margin-top: 50px;
        width: 95vw;
        gap: 10px;
    }
    .estos_links_clase h2 {
        font-size: 1.2rem;
        padding-left:0px;
    }

}
@media (max-width: 395px) {
    .animTextStyle {
        width: 95vw;
        height: 700px;
    }
    .estos_links_clase {
        margin-top: 415px;
    }
}