




.cardChica {
    width: 420px;
    height: 350px;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    background-color: #e85390;
    /* border: solid 2px black; */
    /* border-radius: 15px; */
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 20px 25px -18px rgba(0, 0, 0, 0.5);
    
  }
  
  .cardChica:hover {
    transform: scale(1.06);
    z-index: 3;
    /* box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5); */
  }
  


  .imageContainer {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
  }
  
  .imgCardChica {
    width: 60%;
    height: 70%;
    /* object-fit: cover; */
  }
  
  .content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 18vh;
    padding: 1rem;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: rgba(232, 83, 144, 80%);
    /* background-color: rgba(0, 0, 0, 20%); */
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    
  }
  
  .cardChica:hover .content {
    opacity: 1;
    
  }
  
/*   ------------------------------------------ */


.cardGrande {
    width: 620px;
    height: 350px;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    background-color: rgba(90, 177, 200, 100%);
    /* border: solid 2px black; */
    /* border-radius: 15px; */
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 20px 25px -18px rgba(0, 0, 0, 0.5);
  }
  
  .cardGrande:hover {
    transform: scale(1.04);
    z-index: 3;
    
  }
  
  .imageContainerG {
    position: relative;
    width: 90%;
    /* height: 100%; */
  }
  
  .imgCardGrande {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .contentG {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 18vh;
    padding: 1rem;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: rgba(90, 177, 200, 80%);
    /* background-color: rgba(0, 0, 0, 70%); */
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    
  }
  
  .cardGrande:hover .contentG {
    opacity: 1;
    
  }
  
  
  
  





    @media (max-width: 1009px) {
    .cardChica {
        width: 100%;
        height:350px;
        flex-direction:column;
        overflow: hidden;
        background-color: #E85390;
        border: solid 2px black;
        border-radius: 15px;
    }
    .cardGrande {
        width: 100vw;
    }


    .imgCardChica {
        width: 80vw;
        height: 30vh
    }

}

