.color-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    animation: color-animation 5s linear infinite;
  }
  
  @keyframes color-animation {
    0% {
        background-color: rgb(47, 0, 29); /* Rosado */
        background-position: 0% 10%;
      }
    20% {
      background-color: rgb(231, 35, 156); /* Rosado */
      background-position: 0% 10%;
    }
  
    50% {
      background-color: rgb(0, 225, 255); /* Turquesa pastel */
      background-position: 100% 10%;
    }
    75% {
        background-color: rgb(0, 14, 48); /* Rosado */
        background-position: 0% 10%;
      }
  
    100% {
      background-color: rgb(8, 8, 8); /* Rosado */
      background-position: 0% 10%;
    }
  }
  