

@font-face {
    font-family: 'Cooper Black Regular';
    src: url('../fonts/Cooper Black Regular.ttf');
}
@font-face {
    font-family: 'ITC Pioneer Regular';
    src: url('../fonts/ITC Pioneer Regular.otf');
}
@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('../fonts/Gilroy-ExtraBold.ttf');
}
@font-face {
    font-family: 'IBMPlexMono-Medium';
    src: url('../fonts/IBMPlexMono-Medium.ttf');
}
@font-face {
    font-family: 'IBMPlexMono-Regular';
    src: url('../fonts/IBMPlexMono-Regular.ttf');
}

@font-face {
    font-family: 'IBMPlexMono-Light';
    src: url('../fonts/IBMPlexMono-Light.ttf');
}
@font-face {
    font-family: 'SigmarOne';
    src: url('../fonts/SigmarOne.ttf');
}
@font-face {
    font-family: 'HelveticaNowDisplay-Thin';
    src: url('../fonts/HelveticaNowDisplay-Thin.ttf');
}

@font-face {
    font-family: 'HelveticaNowDisplay-Medium';
    src: url('../fonts/HelveticaNowDisplay-Medium.ttf');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat-Medium.ttf');
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Montserrat-Black';
    src: url('../fonts/Montserrat-Black.ttf');
}
@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('../fonts/Montserrat-ExtraBold.ttf');
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/Montserrat-SemiBold.ttf');
}
@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.ttf');
}
@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('../fonts/Montserrat-ExtraLight.ttf');
}
@font-face {
    font-family: 'AmaticSC-Bold';
    src: url('../fonts/AmaticSC-Bold.ttf');
}
@font-face {
    font-family: 'AmaticSC-Regular';
    src: url('../fonts/AmaticSC-Regular.ttf');
}
@font-face {
    font-family: 'Montserrat-Thin';
    src: url('../fonts/Montserrat-Thin.ttf');
}
@font-face {
    font-family: 'SharpGrotesk-SemiBold20';
    src: url('../fonts/SharpGrotesk-SemiBold20.otf');
}
@font-face {
    font-family: 'SharpGrotesk-Book20';
    src: url('../fonts/SharpGrotesk-Book20.otf');
}
@font-face {
    font-family: 'SharpGrotesk-Light20';
    src: url('../fonts/SharpGrotesk-Light20.otf');
}
@font-face {
    font-family: 'SharpGrotesk-Thin20';
    src: url('../fonts/SharpGrotesk-Thin20.otf');
}
@font-face {
    font-family: 'ChesnaGrotesk-ExtraBold';
    src: url('../fonts/ChesnaGrotesk-ExtraBold.ttf');
}
@font-face {
    font-family: 'ChesnaGrotesk-Thin';
    src: url('../fonts/ChesnaGrotesk-Thin.ttf');
}
@font-face {
    font-family: 'ChesnaGrotesk-Book';
    src: url('../fonts/ChesnaGrotesk-Book.ttf');
}
@font-face {
    font-family: 'resolve-sans-w05-thin-wd';
    src: url('../fonts/resolve-sans-w05-thin-wd.Otf');
}

.funete-practica {
    font-family: 'Cooper Black Regular';
    font-size:60px;
    color: #FEDF4E;
    background-color: #428C53;
    width: 20vw;
    text-align: center;
    letter-spacing: 0px;
    line-height: 0.7;
    
}


body {
    margin: 0;
  }
  
  .video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }