

.landing-css {
  background-color: black;
}

.buttonLanding {
    width: 15vw;
    height:8vh;
    margin-top: 30px;
    font-family:IBMPlexMono-Light;
    letter-spacing:10px;
      /* background-color:rgba(255,255,255,0.3); */
    background-color:#fee4ef48;
    transition: background-color 0.3s ease;
    /* border-radius: 5px; */
    
}
.buttonLanding:hover {
    
    background-color: #fee4ef40;
    transition: ease-in-out;
  }


.contLand {
  height: 50%;
  width: 40%;
  position: absolute;
  top: 20vh;
  left: 29%;
  z-index: 1;
  background-color: #0000003b;
  display: flex;
  align-items: center;
  border:solid 3px #A75476;
  /* border-radius: 10px; */
  justify-content: center;
  flex-direction: column;
}



@media (max-width: 1000px) {
  .contLand {
    height: 60vh;
    width: 70vw;
    left: 15vw;
  }

  
  }