.navbar {
    display: flex;
    position: fixed;
    top: 20px;
    left: 20%;
    z-index: 9999;
  }
  
  .navbar-toggle {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    /* border-radius: 50%; */
    /* border: 2px solid rgb(0, 236, 240); */
    background-color: #00000000;
    color: #fff;
    font-size: 1.5rem;
    transition: background-color 0.3s;
    z-index: 2;
    cursor: pointer;
  }
  
  /* .navbar-toggle:hover {
    background-color: #c971cf;
  } */
  
  .navbar-menu {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    /* background-color: #0000001a; */
    background-color: #5151511b;
    width: 20vw;
    
    height: 60px;
    /* padding-left: 180px; */
    transition: width 0.3s;
    z-index: 1;
    /* border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; */
  }
  
  .navbar.open .navbar-menu {
    /* border: 2px solid green; */
    width: 60vw;
  }
  .navbar-menu :hover {
    background-color: #bf2ec92c;
  }
  
  .navbar-menu li {
    margin-right: 1rem;
    padding: 0.5rem;
    border-radius: 50px;
    background-color: #ff000000;
  }
  
  .navbar-menu li:last-child {
    margin-right: 0;
  }
  
  .navbar-menu li a {
    color: #ffffff;
    text-decoration: none;
  }

  
  /* .svg-toggle {
    width: 1400px;
  } */

/*   ----------------------------------NAV MOBILE---------------------------------------- */
.nav-respons-modal {
  display: none;
  background-color: rgba(36, 36, 36, 0.0);
  justify-content: flex-start;
  padding-top: 20px;
  padding-left: 60px;

}




/* ---------------------------------------------------------------- */
@media (max-width: 500px){
  .navbar.open .navbar-menu {
    flex-direction: column;
    margin-top: 10vh;
  }
  .navbar-toggle {
    justify-content: flex-start;
    
  }
  .navbar-toggle .svg-toggle {
    width: 20px;
  }
}

@media (max-width: 1022px) {
  .navbar {
    display: none;
  }
  .nav-respons-modal {
    display: flex;
  }
}