#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: black;
  /* background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(32,32,32,1) 100%); */

  
}

::-webkit-scrollbar {
  width: 8px; /* Tamaño de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: #F4A2C4; /* Color de la barra de desplazamiento */
  border-radius: 30px;
}
